version: '3.9'

# *.dev.sonia.de
# /etc/hosts
# 127.0.0.1       id.dev.sonia.de
# 127.0.0.1       app1.dev.sonia.de
# 127.0.0.1       app2.dev.sonia.de
# 127.0.0.1       app3.dev.sonia.de
# 127.0.0.1       app4.dev.sonia.de

services:

# kcldap  | INFO: IMPORTANT: Set cn=Directory Manager 
# password to "10peb8uW43kWQL519ibpsJoPpcrzPLY4tMAGBEf5e4.f8IipWmVE0A.3Gcpe0g2sw"
 
  kcldap:
    image: ghcr.io/thorsten-l/389ds-fedora:2.3.3
    container_name: kcldap
    restart: always
    volumes:
      - "./kcldap/data:/data"
    environment:
      - TZ=Europe/Berlin
    ports:
      - "3389:3389"
      - "3636:3636"

  kcdb:
    image: postgres:12
    restart: always
    container_name: kcdb
    environment:
      - POSTGRES_PASSWORD=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_DB=keycloak
    volumes:
      - ./kcdb:/var/lib/postgresql/data
      - type: tmpfs
        target: /var/lib/postgresql/data/pg_stat_tmp
        tmpfs:
          size: 268435456

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.1
    restart: always
    container_name: keycloak
    command: "start --debug --spi-login-protocol-openid-connect-suppress-logout-confirmation-screen=true --log-level=INFO,l9g:TRACE,org.hibernate:INFO,org.keycloak.transaction:INFO,org.keycloak.saml:TRACE,org.keycloak.protocol.oidc:TRACE --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true --proxy edge --hostname-strict=false --db=postgres"
  # --optimized --spi-login-protocol-openid-connect-suppress-logout-confirmation-screen=true --log-level=INFO,l9g:TRACE,org.hibernate:INFO,org.keycloak.transaction:INFO,org.keycloak.saml:TRACE,org.keycloak.protocol.oidc:TRACE --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true --proxy=edge --hostname-strict=false
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123
      - KC_PROXY=edge
      - KC_DB=postgres
      - KC_DB_PASSWORD=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_URL_HOST=kcdb
      - KC_DB_URL_PORT=5432
      - KC_DB_URL_DATABASE=keycloak
      - KC_HOSTNAME_STRICT=false
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes:ro
      - ./keycloak/providers:/opt/keycloak/providers:ro
    depends_on:
      - kcdb
      - kcldap
    extra_hosts:
      - "portal.dev.sonia.de:192.168.4.204"

  kcfront:
    image: nginx:1
    container_name: kcfront
    hostname: id.dev.sonia.de
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./kcfront/etc:/etc/nginx
      - ./kcfront/cache:/share/container/nginx/cache
      - ./kcfront/log:/var/log/nginx
    environment:
      - TZ=Europe/Berlin
    depends_on:
      - kcdb
      - kcldap
      - keycloak

networks:
  default:
    name: iddev
    driver: bridge
