<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
  </head>
  <body>

    <div th:fragment="lsgwFooter" th:remove="tag">
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </div>

    <div id="buildinfo" th:fragment="lsgwBuildinfo">
      <h5 style="margin-top: 2em">build info</h5>
      <table class='table table-striped'>
        <tbody>
          <tr><th>project name</th><td th:text='${build.projectName}'></td></tr>
          <tr><th>project version</th><td th:text='${build.projectVersion}'></td></tr>
          <tr><th>build date</th><td th:text='${build.timestamp}'></td></tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
