<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring 3 Thymeleaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5">
      <a class="navbar-brand" th:href="@{/}">Demo1 Springboot 3 WebAPP</a>
    </nav>

    <div class="container">

      <h2>Request</h2>
      <table class="table table-striped">
        <tbody>
          <tr><th>Request URI</th><td th:text="${request.requestURI}" /></tr>
          <tr><th>Context Path</th><td th:text="${request.contextPath}" /></tr>
          <tr><th>Remote User</th><td th:text="${request.remoteUser}" /></tr>
          <tr><th>Remote Host</th><td th:text="${request.remoteHost}" /></tr>
          <tr><th>Remote Address</th><td th:text="${request.remoteAddr}" /></tr>
        </tbody>
      </table>

      <h2>Headers</h2>
      <table class="table table-striped">
        <tbody>
          <tr th:each="header: ${headers}">
            <th class="text-nowrap" th:text="${header.key}" />
            <td th:text="${header.value}" />
          </tr>
        </tbody>
      </table>

      <p style="margin-top: 2em"> <a th:href="@{/auth/logout.html}" class="btn btn-primary">LOGOUT</a> </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>